<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>UWA SHL Sites Index</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.22/css/uikit.min.css" integrity="sha256-iyi99z0YCXphPJKgycNSwgYQwMV9qvCJLC8tlBHvBO0=" crossorigin="anonymous" />
		{{#ifeq @exphbs.view 'find'}}
			<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.uikit.min.css">
		{{/if}}
		<link href="/styles/site.css" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
		<div id="nav-offcanvas-slide" uk-offcanvas>
			<div class="uk-offcanvas-bar">
				<ul class="uk-nav uk-nav-default">
					{{# each navLinks}}
						<li {{#ifeq ../section key}}class="uk-active"{{else}}{{/ifeq}}>
							<a href="{{ href }}">{{ label }}</a>
						</li>
					{{/each}}
					<li class="uk-nav-divider"></li>
					{{#if user}}
						<li class="uk-nav-header">Header</li>
						{{#if user.canAccessKeystone}}
							<li><a href="{{adminUrl}}/">Backend</a></li>
						{{/if}}
						<li><a href="{{adminUrl}}/signout">Logout</a></li>
					{{else}}
						<li><a href="{{adminUrl}}/signin">Login</a></li>
					{{/if}}
				</ul>
			</div>
		</div>
		<nav class="uk-navbar uk-navbar-container uk-margin">
			<div class="uk-navbar-left">
				<a class="uk-navbar-toggle" href="#nav-offcanvas-slide" uk-toggle>
					<span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span>
				</a>
			</div>
			<div class="uk-navbar-center">
				<a class="uk-navbar-item uk-logo" href="/">Sites Index</a>
			</div>
			<div class="uk-navbar-left">
				<a class="uk-navbar-item uk-logo" href="/">Sites Index</a>

				<ul class="uk-navbar-nav">
					{{# each navLinks}}
						<li {{#ifeq ../section key}}class="uk-active"{{else}}{{/ifeq}}>
							<a href="{{ href }}">{{ label }}</a>
						</li>
					{{/each}}
				</ul>

			</div>
			<div class="uk-navbar-right">

				<ul class="uk-navbar-nav">
					{{#if user}}
						<li>
							<a href="#">{{user.name}}</a>
							<div class="uk-navbar-dropdown">
								<ul class="uk-nav uk-navbar-dropdown-nav">
									{{#if user.canAccessKeystone}}
										<li><a href="{{adminUrl}}/">Backend</a></li>
									{{/if}}
									<li><a href="{{adminUrl}}/signout">Logout</a></li>
								</ul>
							</div>
						</li>
					{{else}}
						<li><a href="{{adminUrl}}/signin">Login</a></li>
					{{/if}}
				</ul>
			</div>
		</nav>
		<div id="body">
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.22/js/uikit.min.js" integrity="sha256-cpRPZqhjd9qhuLI11hjlSy0W1o4xd1O5L12RYiA2rpU=" crossorigin="anonymous"></script>
		{{#ifeq @exphbs.view 'find'}}
			<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
			<script src="https://cdn.datatables.net/1.10.19/js/dataTables.uikit.min.js"></script>
			<script>$(document).ready(function(){$('.uk-data-table').DataTable();});</script>
		{{/if}}
		<script src="js/site.js">
		{{{isAdminEditorJS user}}}
		{{#if messages}}
		<!--
			Flash messages allow you to display once-off status messages to users, e.g. form
			validation errors, success messages, etc
		-->
		<script>
			$(document).ready(function(){
				{{#if messages.info}}
					UIkit.notification({
						message: '{{{flashMessages messages.info}}}',
						status: 'primary',
						timeout: 10000,
					});
				{{/if}}
				{{#if messages.success}}
					UIkit.notification({
						message: '{{{flashMessages messages.success}}}',
						status: 'success',
						timeout: 10000,
					});
				{{/if}}
				{{#if messages.warning}}
					UIkit.notification({
						message: '{{{flashMessages messages.warning}}}',
						status: 'warning',
						timeout: 10000,
					});
				{{/if}}
				{{#if messages.error}}
					UIkit.notification({
						message: '{{{flashMessages messages.error}}}',
						status: 'danger',
						timeout: 10000,
					});
				{{/if}}
			});
		</script>
		{{/if}}
	</body>
</html>
