<div class="uk-section" style="padding-top: 0;">
    {{#if data.row.images}}
        <div class="uk-container">
            {{>slider data.row.images}}
        </div>
    {{/if}}
    
    {{#if data.row.coords}}
        {{{locIFrame data.row.coords}}}
    {{/if}}
</div>
<div class="uk-section">
    <div class="uk-flex-center" uk-grid>
        <div class="uk-card uk-card-default uk-width-5-6 uk-width-1-2@m">
        {{#with data.row}}
            <div class="uk-card-header">
                <h1 class="uk-card-title">{{name}}</h1>
            </div>
            <div class="uk-card-body">
                <dl class="uk-description-list">
                    {{#ifeq ../list 'Infra'}}
                    <dt>Details</dt>
                    <dd>
                        <div uk-grid>
                            {{#if age}}<div>Age: <br>{{date age format="MM YYYY"}} ({{date age timeago=true}})</div>{{/if}}
                            {{#if qty}}<div>Quantity: <br>{{qty}}</div>{{/if}}
                            {{#if location}}<div>Location: <br>{{>locLightbox location}}</div>{{/if}}
                        </div>
                    </dd>
                    {{/ifeq}}
                    {{#if desc.html}}
                    <dt>Description</dt>
                    <dd>{{{desc.html}}}</dd>
                    {{/if}}
                    {{#if coords}}
                        <dt>Coordinates</dt>
                        <dd>{{>locLightbox coords}}</dd>
                    {{/if}}
                    {{#if classes}}
                    <dt>Classifiers</dt>
                    <dd>
                        {{#each classes}}
                            <a class="uk-label" href="/class/{{slug}}">{{name}}</a>
                        {{/each}}
                    </dd>
                    {{/if}}
                    {{#if faults}}
                    <dt>{{#ifeq ../list 'Infra'}}Known{{else}}Possible{{/ifeq}} Faults</dt>
                    <dd>
                        {{#each faults}}
                            <a class="uk-label" href="/fault/{{slug}}">{{name}}</a>
                        {{/each}}
                    </dd>
                    {{/if}}
                    {{#if examples}}
                    <dt>Example {{#ifeq ../list 'Infra'}}Problem{{else}}Solution{{/ifeq}} Statements</dt>
                    <dd>
                        <ul class="uk-list uk-list-striped">
                            {{#split examples ' | '}}
                                <li>{{this}}</li>
                            {{/split}}
                        </ul>
                    </dd>
                    {{/if}}
                    {{#if contact}}
                    <dt>Contact</dt>
                    <dd>
                        <ul class="uk-list">
                            <li>{{contact.name}}</li>
                            <li>{{contact.email}}</li>
                            {{#if contact.phone}}<li>{{contact.phone}}</li>{{/if}}
                        </ul>
                    </dd>
                    {{/if}}
                    {{#if sensors}}
                        <dt>{{#ifeq ../list 'Infra'}}Possible{{else}}Related{{/ifeq}} Sensors</dt>
                        <dd>
                            <div class="uk-child-width-1-1" uk-grid="masonry: true">
                                {{#each sensors}}
                                    {{>rowCard row=this sing="sensor"}}
                                {{/each}}
                            </div>
                        </dd>
                    {{/if}}
                    {{#if infra}}
                        <dt>{{#ifeq ../list 'Sensors'}}Possible{{else}}Related{{/ifeq}} Infrastructure</dt>
                        <dd>
                            <div class="uk-child-width-1-1 uk-flex uk-flex-left" uk-grid="masonry: true">
                                {{#each infra}}
                                    {{>rowCard row=this sing="piece"}}
                                {{/each}}
                            </div>
                        </dd>
                    {{/if}}
                </dl>
            </div>
            <div class="uk-card-footer uk-text-right">
                {{#if ../user.canAccessKeystone}}
                    <a class="uk-button uk-button-primary" href="{{../adminUrl}}/{{#ifeq ../list 'Infra'}}infras{{else}}{{toLower ../list}}{{/ifeq}}/{{id}}">Edit</a>
                {{/if}}
                <a href="javascript:history.back()" class="uk-button uk-button-default">Back</a>
            </div>
        </div>
        {{else}}
            <h3>🤷 Could not find what you were looking for. <a href="javascript:history.back()">Go Back</a></h3>
        {{/with}}
    </div>
</div>
