{{!< default}}
<div class="uk-section">
    <div class="uk-container">
		<h1>Welcome to UWA SHL Sites Index!</h1>
		{{#if user}}
		<p>
			Browse the following categories:
		</p>
		<ul uk-list>
			{{#each navLinks}}
				{{#ifeq key 'home'}}{{else}}
				<li>
					<a href="{{ href }}">{{ label }}</a>
				</li>
				{{/ifeq}}
			{{/each}}
		</ul>
		{{else}}
		<p>You will need to <a href="{{adminUrl}}/signin">Login</a> to use this website.</p>
		{{/if}}
	</div>
</div>
